body{
  background-color: #F5F1E9;
}
#calendar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  width: 480px;
  font-family: 'Lato', sans-serif;
}

i {
  color: #FFF;
}

p{
  display: flex;
  align-items: center;
}

.days {
  height: 68px;
  width: 14%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content {
  flex-wrap: wrap;
  width: 480px;
  height: 420px;
  display: flex;
  
  position: relative;
  background-color: #FFFFFF;
  border-radius: 0px 0px 12px 12px;
}

.content div:hover{
  background-color: #F8F8F8;
}

.weekdays div{
  display:inline-block;
  vertical-align:top;
}

.weekdays {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 480px;
  height: 75px;
  overflow: hidden;
  float: left;
  z-index: 10;
  background-color: #FFF;
  color: #FF6860;
  border-bottom:  1px solid #FF6860;
}

.blank {
  background-color: #E8E8E8;
  width: 68px;
  height: 68px;
}

#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}